.recipe {

  max-width: 15rem;

  &__card {
    max-width: 15rem;
  }

  &__img {
    height: 16rem;
    // width: 15rem;
    object-fit: cover !important;
  }
  &__title {
    display: block;
    justify-content: center;
    height: 1.5rem;
    max-width: 15rem;
    max-inline-size: 15rem;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}


.recipes {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: flex-start;
  row-gap: 2rem;
  column-gap: 2rem;

  &__msg {
    position: absolute !important;
    top: 50%;
    left: 50%;
    transform: translateX(-50%)
  }
}